@import url(http://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(http://fonts.googleapis.com/css?family=Righteous);
@import url(http://fonts.googleapis.com/css?family=Candal);

@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(http://fonts.googleapis.com/css?family=Monoton);
    @font-face { font-family: KARNIVOT; src: url('../../static/fonts/Zyphyte.ttf'); }

body { background: #000; color: #fff; position: relative;}

.vectro {
  position: relative;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.1px #f1f1f1;
  font-family: 'KARNIVOT', cursive;
  font-size: 80px;
  margin: 0px 0 20px 0;
}

.vectro:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*-webkit-animation:vectro_effect 0.067s infinite;*/
  background: repeating-linear-gradient(0deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, rgba(255,255,255,0) 1px, rgba(255,255,255,0) 2px);
}



.windows .vectro {
  -webkit-text-stroke: 4px #f1f1f1;
}

.vectro-body {
  -webkit-background-clip: text;
  background-image: -webkit-linear-gradient(#C3BFB4 0%, #FDFCFA 50%, #E8E7E5 51%, #757172 52%, #E8E9DB 100%);
  -webkit-filter: drop-shadow(2px 2px 15px #3F59F4);
}

.vectro-red {
  color: #F10C20;
  -webkit-text-fill-color: #F10C20;
  -webkit-filter: drop-shadow(2px 2px 15px #6BFF2B);
  -webkit-text-stroke: 0;
  font-style: italic;
  padding-right: 20px;
  margin-left: -20px;
}

.windows .vectro-red {
  padding-right: 30px;
  margin-left: -30px;
}

.vectro-green {
  color: #6BFF2B;
  -webkit-text-fill-color: #6BFF2B;
  -webkit-filter: drop-shadow(2px 2px 15px #6BFF2B);
  -webkit-text-stroke: 0;
  font-style: italic;
  padding-right: 20px;
  margin-left: -20px;
}

.windows .vectro-green {
  padding-right: 30px;
  margin-left: -30px;
}

.vectro-blue {
  color: #3F59F4;
  -webkit-text-fill-color: #3F59F4;
  -webkit-filter: drop-shadow(2px 2px 15px #3F59F4);
  -webkit-text-stroke: 0;
  font-style: italic;
  padding-right: 20px;
  margin-left: -20px;
}

.windows .vectro-blue {
  padding-right: 30px;
  margin-left: -30px;
}


.vectro:before {
  position: absolute;
  content: '';
  left: 51px;
  top: 74px;
  width: 80px;
  height: 3px;
  background-image: -webkit-radial-gradient(#fff 0%, transparent 85%);
  z-index: 4;
  -webkit-animation-name: vectro_before_effect;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

.vectro:after {
  position: absolute;
  content: '';
  left: 90px;
  top: 32px;
  width: 3px;
  height: 80px;
  background-image: -webkit-radial-gradient(#fff 0%, transparent 85%);
  z-index: 4;
  -webkit-animation-name: vectro_after_effect;
  -webkit-animation-duration: 5s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes vectro_before_effect {
  0% {
    left: 51px;
    top: 74px;
    opacity: 0;}
  
  15% {
    left: 51px;
    top: 74px;
    opacity: 1;}
  
  30% {
    left: 51px;
    top: 74px;
    opacity: 0;}
  
  35% {
    left: 370px;
    top: 45px;
    opacity: 0;}
   
  50% {
    left: 370px;
    top: 45px;
    opacity: 1;}
  
  65% {
    left: 370px;
    top: 45px;
    opacity: 0;}
  
  70% {
    left: 564px;
    top: 74px;
    opacity: 0;}
   
  85% {
    left: 564px;
    top: 74px;
    opacity: 1;}
  
  100% {
    left: 564px;
    top: 74px;
    opacity: 0;}
}

@-webkit-keyframes vectro_after_effect {
  0% {
    left: 90px;
    top: 32px;
    opacity: 0;}
  
  15% {
    left: 90px;
    top: 32px;
    opacity: 1;}
  
  30% {
    left: 90px;
    top: 32px;
    opacity: 0;}
  
  35% {
    left: 413px;
    top: 11px;
    opacity: 0;}
   
  50% {
    left: 413px;
    top: 11px;
    opacity: 1;}
  
  65% {
    left: 413px;
    top: 11px;
    opacity: 0;}
  
  70% {
    left: 603px;
    top: 32px;
    opacity: 0;}
   
  85% {
    left: 603px;
    top: 32px;
    opacity: 1;}
  
  100% {
    left: 603px;
    top: 32px;
    opacity: 0;}
}
