<form class="ui form" [formGroup]="entry_form" (ngSubmit)="submitState()" autocomplete="off">
  <div class="field" style="width: 100%" [ngSwitch]="field.field_type" *ngFor="let field of fields; let i = index">

    <div *ngSwitchCase="'text'">
      <div class="field" [formGroupName]="i">
        <label>{{field.field_order}}. {{field.field_name}}</label>
        <input type="text" placeholder="{{field.field_name}}" formControlName="field_value">
      </div>
    </div>

    <div *ngSwitchCase="'datetime'">
      <div class="field" [formGroupName]="i">
        <label>{{field.field_order}}. {{field.field_name}}</label>
        <cco-flatpickr #flatpickr [options]="foptions" formControlName="field_value"></cco-flatpickr>
      </div>
    </div>


    <div *ngSwitchCase="'numeric'">
      <div class="field" [formGroupName]="i">
        <label>{{field.field_order}}. {{field.field_name}}</label>
        <div class="ui right labeled input">
          <input type="text" placeholder="{{field.field_name}}" formControlName="field_value">
          <sui-input-select class="ui label" [options]="field.available_units" formControlName="field_unit" #select>
            <sui-input-select-option *ngFor="let option of field.available_units" [value]="option"></sui-input-select-option>
          </sui-input-select>
        </div>
      </div>
    </div>

    <div *ngSwitchCase="'radio'">
      <div class="field" [formGroupName]="i">
        <label>{{field.field_order}}. {{field.field_name}}</label>
        <div class="ui buttons" >
          <button *ngFor="let option of field.radio_options" type="button" class="ui button">
            {{option}}
          </button>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'drop_down'">
      <div class="field" [formGroupName]="i">
        <label>{{field.field_order}}. {{field.field_name}}</label>
        <sui-select formControlName="field_value">
          <sui-select-option *ngFor="let option of field.drop_down_options" [value]="option"></sui-select-option>
        </sui-select>
      </div>
    </div>

    <div *ngSwitchCase="'additional'">
      <div class="field" [formGroupName]="i">
        <additionalfield (removeField)="removeField($event)" [group]="entry_form.controls[i]" [fieldnumber]="i+1"></additionalfield>
      </div>
    </div>

  </div>







  <button  type="button" (click)="addField()">Add Field</button>
  <button type="button" (click)="addField()">Clear name</button>
</form>
<br><br>
<button id="my-logout-button" md-raised-button color="accent" (click)="logout()">Logout</button>
<pre>form value: <br>{{entry_form.value | json}}</pre>
<div class="field" style="width: 100%" [ngSwitch]="field.field_type" *ngFor="let field of fields; let i = index">
  <p>{{field.field_name}}</p>
</div>
