@charset "utf-8";

// @import 'utils/variables';
// @import 'utils/core';

$fonts: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;

// $brand: #0273d4;

$brand: #c5050c; 
$light-grey: #f7f7f7;
$dark-grey: #646569;
$white: #fff;
$uw-red: #c5050c;
$uw-red-dark: #9b0000;
$uw-page-bg: #f7f7f7;
$uw-gray-blue: #dadfe1;
$uw-gray-darker: #646569;
$uw-gray-darkest: #282728;
$uw-body-font: #494949;
$uw-anchor-color: #0479a8;
$uw-gray-footer-text: #adadad;
$uw-gray-footer-text-hover: #f9f9f9;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: $light-grey;
  color: $dark-grey;
  font: 400 1em/1.25 $fonts;
}

::selection {
  background-color: $brand;
  color: $white;
}

div.ui.top.menu {
  background-color: $uw-red;
}

a {
  color: $brand;
  text-decoration: none;

  &:hover {
  }
}

p {
  margin-bottom: 1em;
}

h1 {
  border-bottom: 1px dotted $brand;
  display: block;
  font-weight: 300;
  margin: 2rem 0 1rem;
  padding-bottom: 0.5rem;
}

.loading {
  padding: 1em;
}

.ui.menu span.item {color: $uw-page-bg;}
.ui.menu span.item:before {width: 0px;}

// div.ui.icon.item:after {width:1px;}


.demo-header {
  align-items: center;
  background: $uw-red;
  box-shadow: 0 0.1em 1.5em rgba($dark-grey, 0.5);
  color: $white;
  display: flex;
  padding: 1em;
}

  .demo-header__toggle {
    background: transparent;
    border: 0.15rem solid $white;
    border-left: 0;
    border-right: 0;
    cursor: pointer;
    font-size: 0;
    height: 1.5rem;
    margin-right: 1rem;
    position: relative;
    width: 2rem;

    &::after {
      background: $white;
      content: '';
      height: 0.15rem;
      left: 0;
      margin-top: -0.075rem;
      position: absolute;
      top: 50%;
      width: 100%;
    }
  }

.demo-sidebar {
  padding: 2em 1em;

  &.ng-sidebar--over {
    box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
  }
}

.demo-contents {
  padding: 0 2em;
}

.demo-control {
  background-color: $light-grey;
  border: 1px solid $dark-grey;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding: 0.5em 2em;
  transition: background-color 0.15s;

  &:hover {
    background-color: $dark-grey;
    color: $white;
  }
}
