<ng-sidebar-container>
  <ng-sidebar [(opened)]="_opened" [dockedSize]="'50px'" [showBackdrop]="_showBackdrop" [sidebarClass]="'demo-sidebar'" [ariaLabel]="'My sidebar'" (onOpenStart)="_onOpenStart()" (onOpened)="_onOpened()" (onCloseStart)="_onCloseStart()" (onClosed)="_onClosed()" (onAnimationStart)="_onAnimationStart($event)" (onAnimationDone)="_onAnimationDone($event)">
    <div class="ui sidebar vertical menu visible attached">
      <div class="item">
        <a class="ui logo icon image">
          <img src="/src/assets/static/img/me_4.png">
        </a>
      </div>
      <a class="item" routerLink='/home' routerLinkActive='active'>Home</a>
      <a class="item" routerLink='/entry' routerLinkActive='active'>Entry</a>
      <a class="item">Search</a>

    </div>
  </ng-sidebar>
  <div class="ui top menu">
    <div class="ui icon item dropdown" (click)="_toggleOpened()">
      <i class="content icon"></i>
    </div>
    <span class="item">ACM Interface</span>
  </div>
  <section class="demo-contents">
    <h1>Header 1</h1>
    <h2>Header 2</h2>
    <h3>Header 3</h3>
    <h4>Header 4</h4>
    <h5>Header 5</h5>
    <p>Paragraph</p>
    <router-outlet></router-outlet>
  </section>
</ng-sidebar-container>
