$fonts: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;

// $brand: #0273d4;

$brand: #c5050c; 
$light-grey: #f7f7f7;
$dark-grey: #646569;
$white: #fff;
$uw-red: #c5050c;
$uw-red-dark: #9b0000;
$uw-page-bg: #f7f7f7;
$uw-gray-blue: #dadfe1;
$uw-gray-darker: #646569;
$uw-gray-darkest: #282728;
$uw-body-font: #494949;
$uw-anchor-color: #0479a8;
$uw-gray-footer-text: #adadad;
$uw-gray-footer-text-hover: #f9f9f9;
